torch
torchvision
wandb
rasterio
opencv-python
einops
tqdm
scikit-learn
matplotlib
python-dotenv
# torchgeo==git+https://github.com/microsoft/torchgeo
satlaspretrain_models
opencv-python
thop
torchsummary
flash_attn
scikit-image
